project/try.py

TACO-master/
TACO-train_test-1/
TACO_train_only-1
TACO_test_set-1

runs/
.ipynb_checkpoints/
project/__pycache__/
jupyter-lab.sh
py-sbatch.sh
commands.txt
*json
*pt
*jpg
*JPG
scratch.txt
slurm-lambda2-204116.out
test_yolov8.py
